
body  { 
        background-image: url(uroda-tlo.jpg);
        background-size: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        background-repeat: no-repeat;
        font-family: 'Lato', sans-serif;
}

        
h1  {
    text-transform: uppercase;
    color: rgb(59, 59, 59);
    font-size: 200px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;

}

h2 {
    text-transform: uppercase;
    color: rgb(59, 59, 59);
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border: solid;
    border-width: 5px;
}

h4 {
    text-transform: uppercase;
    color: rgb(59, 59, 59);
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: rgb(36, 34, 32);
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: rgb(36, 34, 32);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(36, 34, 32);
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
    color: white;
}

.sidenav a {
    padding: 10px 50px 10px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 32px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

.home-grid {
    display: grid;
    grid-template-columns: 5% 60% 30% 5%;
    grid-template-rows: 3% 30% 30% 37%;
    grid-gap: 10px;
    background-color: transparent;

}
.zie {
    margin: 0% 20% 0% 20%;
    padding: 0% 20% 0% 20%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.lar {
    margin: 0% 20% 0% 20%;
    padding: 0% 20% 0% 20%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.ski {
    margin: 0% 20% 0% 20%;
    padding: 0% 20% 0% 20%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.tagline {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 400 100 60 60;
    padding: 20% 0% 0% 0%;
}

.opis {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    
}

.hamburger {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}